.modal {
    height: 90vh;
    width: calc( 70% - 50px);
    left: 15%;
    background-color: #fff;
    border: 0.5px solid #000;
    border-radius: 3px;
    overflow: hidden;
    z-index: 999;
    position: fixed;
    top: 7%;
}
.loading {
    font-size: 40px;
    font-weight: bold;
    z-index: 999;
    color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}