.modal {
    height: 85vh;
    width: calc( 70% - 50px);
    left: 15%;
    background-color: #fff;
    border: 0.5px solid #000;
    border-radius: 3px;
    overflow: hidden;
    z-index: 999;
    position: fixed;
    top: 7%;
}
.loading {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    color: coral;
}